@import "~bulma/sass/utilities/initial-variables"

$gray-accent-dark: #CFD8DC
$gray-accent-light: #DEE5E8

$primary: #2E7D32
$primary-invert: $gray-accent-light
$body-color: red
$background: $gray-accent-dark
$link: red
$family-primary: "Fira Code", $family-sans-serif

@media (prefers-color-scheme: dark)
  $gray-accent-dark: scale-color($gray-accent-dark, $lightness: -90%) !global
  $primary: scale-color($primary, $lightness: -60%) !global
  $background: scale-color($gray-accent-dark, $lightness: -60%) !global

.layout-children
  background: $gray-accent-dark

.navbar-logo-link
  padding: 0 !important
  pointer-events: none

.navbar-logo
  height: 50px
  width: 50px
  fill: red !important
  color: green !important

.margin-top-0
  margin-top: 0 !important

.full-width-image-container
  width: 100vw
  height: 400px
  position: relative
  left: 50%
  right: 50%
  margin: 2em -50vw
  background-size: cover
  background-position: bottom
  display: flex
  justify-content: center
  align-items: center

.full-width-image
  width: 100vw
  height: 400px
  background-size: cover
  background-position: bottom
  display: flex
  justify-content: center
  align-items: center

// @media (prefers-color-scheme: dark)
//   .layout-children
//     background: scale-color($gray-accent-dark, $lightness: -90%)

@import "~bulma"
